@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900);

html {
  background: url(bg.png) repeat fixed;
}

/* Dashes are cooler than bullets */
ul { list-style-type: none; }
ul li:before { content:"-"; position: relative; left:-5px;}
ul li { text-indent:-5px; }


a, a:visited, a:hover{
  color:#111;
  font-weight: bold;
}
a:hover{
  background:yellow;
}

body{
  font-family: 'Source Code Pro', sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: #000;
  margin: 0 auto;
  padding:1em;
  max-width: 400px;
}
